@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-prev.swiper-button-disabled {
    transform: translateX(-5px);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  
  .custom-next.swiper-button-disabled {
    transform: translateX(5px);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

.main-prev.swiper-button-disabled {
    transform: translateX(-5px);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .main-next.swiper-button-disabled {
    transform: translateX(5px);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  .swiper-fade-trend {
    mask-image: linear-gradient(to right, black 10%, black 90%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  }
  .swiper-slide-trend {
    width: 140px !important;
  }

  .mySwiper{
    height: 420px;
  }
.mySwiper .swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  height: 20px;
}

.mySwiper .swiper-pagination-bullet {
  min-width: 80px;
  width: 120px;
  height: 3px;
  background-color: #fff;
  border-radius: 0;
  margin: 0 6px;
  transition: background-color 0.3s;
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: #fff;
}

.mySwiper .swiper-pagination-bullets {
  display: flex;
  justify-content: center;
  align-items: center;
}


  @media screen and (min-width: 768px) {
    .swiper-slide-trend {
        width: 170px !important; 
      }
  }
  @media screen and (min-width: 1024px) {
    .swiper-slide-trend {
        width: 200px !important; 
      }
      .mySwiper{
        height: 510px;
      }
  }
  